@media(min-width: 376px) {

    .container {
      display: grid;
      /*Using the CSS Grid therefore display for the container is grid*/
      grid-template-rows: auto;
      /*This is auto so the can be mutiple amount of rows on in the template*/
      margin: 0 auto;
      max-width: 1100px;
      /*The max width of the viewport*/
    }
    
    /*Section is set to block with two columns*/
    section {
      display: block;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.5rem;
    }

    /*Footer section is seperated into two columns*/
    footer {
      grid-template-columns: 1fr 1fr;
    }

  }

  
  
  