/*BODY STYLES*/
body {
    background-color: #ffffff;
    margin: 0;
}

/*HEADER STYLES*/
header {
    height: 100%;
    align-items: center;
    
}

/*Positions the nav and uses flex to span across the top of the page*/
nav {
    margin-top: 10px;
    display: flex;
    text-align: center;
}

/*Styles the font on the navigation*/
nav a {
    color: black;
    font-weight: 400;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    list-style-type: none;
}

/*Creates a bold font when hovering over the navigation*/
nav a:hover { 
    font-weight: 600;
}


/*FONT STYLES*/
h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    margin-bottom: 50px;
    margin: auto;
    text-align: center;
}

h2{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}

h3{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
}

p{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px;
    margin-left: 20px;
    color: #000000;
}

/*BUTTON STYLES*/
.button{
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    background-color: #4c4e4e;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 44%;
    padding: 10px;
    text-decoration: none;
}
 
.button1 {
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    background-color: #4c4e4e;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-left: 44%;
    padding: 10px;
    text-decoration: none;
    margin-left: 54%;
    margin: 10px;
}

/*LI STYLES*/
/*Sets the positioning and styles of list items*/
li {
    text-decoration: none;/*Stops underlining*/
    list-style-type: none;/*Stops bullet points*/
    display: inline-block;
    margin: 10px;
    background-color: #C4C4C4;
    border-radius: 10px;
}

/*TOP NAV STYLES*/
/*Flex the navigation across the screen*/
.topnav {
    display: flex;
    background-color: #000000;
    width: 100%;
}

/*Font for the top nav as the text is small*/
.font {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    margin: auto;
    color: #ffffff;
}

/*LOGO STYLES*/
#logo {
    float: left;
    width: 60px;
    height: 30px;
    margin-right: 350px;
    margin-left: 10px;
}

/*IMAGE STYLES*/
img {
    margin-left: 24%;
}

/*BANNER STYLES*/
.banner{
    opacity: 0.75;/*Creates a slightly faded image as a background*/
    background-image: url("cssimages/toast.jpg"); /*Uses the image of toast as the background*/
    background-repeat: no-repeat; /*Stops the image repeating*/
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner1{
    opacity: 0.75;
    background-image: url("cssimages/salmon.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner2{
    opacity: 0.75;
    background-image: url("cssimages/plate.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner3{
    opacity: 0.75;
    background-image: url("cssimages/picnic.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner4{
    opacity: 0.75;
    background-image: url("cssimages/cake.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner5{
    opacity: 0.75;
    background-image: url("cssimages/milkshakes.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}

.banner6{
    opacity: 0.75;
    background-image: url("cssimages/ice_creams.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    padding: 60px;
}


/*Sets background of the home content*/
.homecontent{
    background-color: #FA9AAE;
    height: 300px;
}

/*MENU NAV STYLES*/

/*The menu element of the site has its own navigation, these are the styles and positioning*/
.menunav {
    display: flex;
    background-color: #8F8F8F;
    margin-top: 0;
}

/*Sets the menu background colour*/
.menu{
    background-color: #CFE09B;
    padding: 90px;
}

/*Sets the find us background colour*/
.findus {
    background-color: #B56E6D;
}

/*Displays the socials on across with the right positioning*/
.socials {
    display: flex;
    width: 30%;
    margin-top: 150px;
    height: auto;
    align-items: center;
}

/*Pin icon is positioned correctly to be in the middle of the page*/
.pin {
    position: relative;
    margin-left: 48%;
    margin-top: 100px;
}


/*REVIEW STYLES*/
.reviews {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    background-color: #FA9AAE;
    border-radius: 10px;
    padding: 5%;
    display: flex;
}

.reviews1 {
    border-right: white 1px solid; /*Border is added to create a seperation line between reviews*/
}

/*Gallery sits accross the page*/
.gallery {
    display: flex;
}

/*Positions the images correctly.*/
.img {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 25%;
    height: 10%;
}

/*FOOTER STYLES*/
/*footer is seperated into two classes to create the grid*/
.footersec1 {
    margin-left: 30px;
}

.footersec2 {
    border-left: 1px solid black; /*Seperation line between the two pieces of information*/
}

.houses {
    width: 54%;
}